.contentInput {
    margin-top: 50px;
    border: 2px solid black;
    height: 200px;
}  

.deleteReview {
    margin-top: 10px;
    border-radius: 5px;
    background-color: orangered;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 80px;
    height: 25px;
    margin-right: 50px;
    font-size: medium;
    align-content: center;
}