div.stayImage{
 display: flex;
 flex-direction: row;
 width: 900px;
 height: 2000px;
}

.mainImage {
border-radius: 10px;
margin-left: 40px;
height: 500px;
width: 600px;

}

.imageReview {
    margin-left: 40px;
}

.imageCountry {
    margin-top: 20px;
    padding-bottom: 20px;
}

.imageDescription {
    margin-top: 20px;
    height: 70px;
    border: 0px solid black;
    text-overflow: clip;
    overflow-x: hidden;
    margin-bottom: 20px;
    
}

.price{
    margin-bottom: 15px;

}

.paws {
    font-size: xx-large;
}


