div.stayImage{

 display: flex;
 flex-direction: row;

 /* padding-right: 40px; */
 margin-left: 70px;
 width: 900px;
 height: 2000px;
 margin-top: 50px;
 padding-top: 90px;

}

.mainImage {
border-radius: 10px;
margin-left: 40px;
height: 250px;
width: 250px;

}

.imageReview {
    margin-left: 40px;
}

.imageCountry {
    margin-top: 20px;
    padding-bottom: 20px;
}

.imageDescription {
    height: 70px;
    border: 0px solid black;
    text-overflow: clip;
    overflow-x: hidden;
    margin-bottom: 20px;
    
}

.price{
    margin-bottom: 15px;

}


