div#showcase {
    background-image: url('../../assets/landingPage_photo.png');
    height: 750px;
    width: 1330px;
    background-repeat: no-repeat;
    background-size: 100%;
    float: center;
    margin-left: 320px;
    margin-top: 40px;
    padding-right: 200px;
    border-radius: 20px;
    border: 1px solid black;

   
}
.formOuterContainer {
    display: flex;
    justify-content: center;
    margin-right: 40000px;
    margin-bottom: 60px;
}
.formContainer {
 
    background-color: white;
    width: 450px;    

    border-radius: 10px;
    border: 1px solid rgb(193, 187, 187); 
    box-shadow: 0px 0px 10px 5px rgb(196, 191, 191);
    margin-top: 100px;
    margin-right: 200px;
 
 
   
}
.noOutline:focus {
    outline: 0 none;
    border: 0 none;
}
input {
    outline: 0 none;
    border: 0 none;
}
.locationContainer {
    display: flex;
    flex-direction: column;
    width: 415px;
    border: 1px solid rgb(193, 187, 187); 
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px;
}

.check-inContainer {
    display: flex;
    flex-direction: column;
    width: 415px;
    border: 1px solid rgb(193, 187, 187); 
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px;
}
.check-outContainer {
    display: flex;
    flex-direction: column;
    width: 415px;
    border: 1px solid rgb(193, 187, 187); 
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px;
}

.textOne {
    margin-top: 80px;
    font-size: 50px;
    margin-left: 40px;

}

.textTwo {
    margin-top: 10px;
    font-size: 30px;
    color: grey;
    margin-left: 40px;
    margin-bottom: 30px;
} 

.stayImages {
    margin-top: 10px;
}


