div#showcase {
    background-image: url('../../assets/landingPage_photo.png');
    height: 400px;
    width: 900px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 250px;
    margin-top: 60px;
    border-radius: 40px;
    border: 1px solid black
   
}

