
.loginForm {

    display: flex;
    color: pink;
    justify-content: flex-start;
    align-items: center;
    background-color: lemonchiffon;

}

.logInUserNameInput {
   padding-left: 10px;
   margin-left: 10px;
   margin-right: 10px;
   border-radius: 20px;
   
}

.logInPasswordInput {
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;

    
}

.loginButton {
    height: 20px;
    margin-left: 10px;
    border-radius: 40px;
   
}

button:hover {
    background-color: lavender;
    cursor: pointer;
}

