.auths {
    display: flex;
    float: right;
 
}

a {
    text-decoration: none;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    padding-right: 20px;
}

a:hover {
    background-color: lavender;
    cursor: pointer;
}

ul {
   list-style-type: none;
}

img{
    height: 50px;

}
a.home {
    display: flex;
    float: left;
    height: 100px;
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 0px;
    margin-left: 0px;
    position: relative;
   
}
a.fauxbnb_icon {
    padding-right: 0px;
    margin-right: 0px;
    width: 500px;
    position: static;
}
div.fauxbnb_logo {
    display: inline;
    margin-top: 25px;
    margin-left: 10px;
    height: 50px;
    position: static;
    margin-bottom: 0px;
    color: orangered;
    font-size: large;
    font-family: sans-serif;
    
}

.navContainer {
    overflow: hidden;
    width: 1850px;
    height: 90px;
    position: sticky;
}


.links {
    display: flex;
    float: right;
    justify-content: space-evenly;
    font-size: large;
 
}
.welcome{
    display: inline;
    margin-top: 25px;
    margin-left: 20px;
    height: 50px;
    position: static;
    margin-bottom: 0px;
    color: orangered;
    font-size: large;
    font-family: sans-serif;

}

.logInDemo {
    margin-top: 10px;
    border-radius: 5px;
    background-color: orangered;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 25px;
    margin-right: 50px;
    font-size: medium;
    align-content: center;
    margin-bottom: 20px;
}