.auths {
    display: flex;
    float: right;
    margin-left: 0px;
    margin-right: 0px;
}

a {
    text-decoration: none;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    padding-right: 20px;
}

a:hover {
    background-color: lavender;
    cursor: pointer;
}

ul {
   list-style-type: none;
}

img{
    height: 50px;

}
a.home {
    display: flex;
    float: left;
    height: 100px;
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 0px;
    margin-left: 0px;
    position: relative;
   
}
a.fauxbnb_icon {
    padding-right: 0px;
    margin-right: 0px;
    width: 500px;
    position: static;
}
div.fauxbnb_logo {
    display: inline;
    margin-top: 25px;
    margin-left: 10px;
    height: 50px;
    position: static;
    margin-bottom: 0px;
    color: orangered;
    font-size: large;
    font-family: sans-serif;
    
}

.navContainer {
    overflow: hidden;
    border-bottom: 1px solid rgb(191, 187, 187);
    width: 100%;
    height: 90px;
    position: static;
}


